<nav class="navbar navbar-dark bg-primary fixed-top" dir="rtl">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">new age</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header" dir="rtl">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<ul class="nav nav-tabs mt" dir="rtl">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">HESENO</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MENU</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">PIZZA</a></li>
      <li><a class="dropdown-item" href="#">BERGERS</a></li>
      <li><a class="dropdown-item" href="#">DRINKS</a></li>
      <li><a class="dropdown-item" href="#">SALADS</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">contact us</a>
  </li>
</ul>
<section class="d-flex flex-wrap" dir="rtl">
  <div class="d-flex flex-wrap row col-xl-4 c mt-2 " dir="ltr">
    <div class="col-xl-4 d-flex flex-column">
    <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
      <button class="btn btn-primary"> add to</button>
    </div>
    <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
      <h2>پیتزا کواترو فورماجی</h2>
      <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
      <p class="text-primary">هزار تومان:230</p>
    </div>
  </div>
  <div class="d-flex flex-wrap row col-xl-4  c mt-2 " dir="ltr">
    <div class="col-xl-4 d-flex flex-column">
    <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
      <button class="btn btn-primary"> add to</button>
    </div>
    <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
      <h2>پیتزا کواترو فورماجی</h2>
      <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
      <p class="text-primary">هزار تومان:230</p>
    </div>
  </div>
  <div class="d-flex flex-wrap row col-xl-4  c mt-2 " dir="ltr">
    <div class="col-xl-4 d-flex flex-column">
    <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
      <button class="btn btn-primary"> add to</button>
    </div>
    <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
      <h2>پیتزا کواترو فورماجی</h2>
      <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
      <p class="text-primary">هزار تومان:230</p>
    </div>
  </div>
  <div class="d-flex flex-wrap row col-xl-4  c mt-2 " dir="ltr">
    <div class="col-xl-4 d-flex flex-column">
      <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
      <button class="btn btn-primary"> add to</button>
    </div>
    <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
      <h2>پیتزا کواترو فورماجی</h2>
      <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
      <p class="text-primary">هزار تومان:230</p>
    </div>
  </div><div class="d-flex flex-wrap row col-xl-4  c mt-2 " dir="ltr">
  <div class="col-xl-4 d-flex flex-column">
    <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
    <button class="btn btn-primary"> add to</button>
  </div>
  <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
    <h2>پیتزا کواترو فورماجی</h2>
    <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
    <p class="text-primary">هزار تومان:230</p>
  </div>
</div><div class="d-flex flex-wrap row col-xl-4  c mt-2 " dir="ltr">
  <div class="col-xl-4 d-flex flex-column">
    <img src="https://heseno.com/wp-content/uploads/2021/11/2-300x300.jpg">
    <button class="btn btn-primary"> add to</button>
  </div>
  <div class="col-xl-8 d-flex flex-wrap align-items-end flex-row-reverse">
    <h2>پیتزا کواترو فورماجی</h2>
    <p>بیکن، نیرگودا، چدار، پنیر موتزارلا، پنیر پستو، زیتون سیاه، ذرت، قارچ، فلفل دلمه ای</p>
    <p class="text-primary">هزار تومان:230</p>
  </div>
</div>
</section>
